
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.card {
  background: white;
  width: 350px;
  margin: 20px auto;   /* THIS FIXES THE BIG GAP */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #4a7ef5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background: #4CAF50;
  color: white;
}

a {
  display: block;
  margin: 20px;
  text-decoration: none;
  color: #4a7ef5;
  font-weight: bold;
}
